{% extends 'base.html.twig' %}

{% block title %}Hello NiveauController!{% endblock %}

{% block body %}

<div class="example-wrapper">
    <h1>Information: {{ detail.nomComplet}}</h1>
    <h2>Email:{{ detail.email}}</h2>
    <h2>Adresse:{{ detail.adresse}}</h2>
</div>
{% endblock %}
